set ideamarks

" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

set surround
let mapleader = ","

imap jj <Esc>

"set number
set ignorecase
set incsearch
set hlsearch

"set tabstop=2
"set expandtab
"set shiftwidth=2

map <leader>nn :noh<CR>
